<%= link_to event_path(notification.notifiable.rsvpable) do %>
  <li class="<%= notification.read? ? "read" : "unread" %>">
    <div class="friend-pic"><img src="<%= notification.notifier.profile.image? ? notification.notifier.profile.image_url(:thumb_small) : asset_path("small-user.png") %>" width="50" height="50"></div>
    <span class="friend-name"><%= notification.notifier.full_name %> <span class="friend-username">@<%= notification.notifier.username %></span></span>
    <span class="friend-message"><%= activity_status(notification.notifiable.status).capitalize %> to <%= truncate notification.notifiable.rsvpable.name, length: 25 %></span>
  </li>
<% end %>