<%= link_to post_path(notification.notifiable.favoritable) do %>
  <li class="<%= notification.read? ? "read" : "unread" %>">
    <div class="friend-pic"><img src="<%= notification.notifier.profile.image? ? notification.notifier.profile.image_url(:thumb_small) : asset_path("small-user.png") %>" width="50" height="50"></div>
    <span class="friend-name"><%= notification.notifier.full_name %> <span class="friend-username">@<%= notification.notifier.username %></span></span></span>
    <span class="friend-message">Favorited your <%= notification.notifiable.favoritable_type.downcase %>.</span>
  </li>
<% end %>