<div class="row">
  <div class="col-md-12">
    <div class="module">
      <h4>News</h4>
      <% @news.each do |news| %>
        <div class="news-box clearfix">
          <img src="<%= news.image_url(:thumb_medium) %>" class="img-responsive" width="280" height="114">
          <div class="news-headline"><%= news.title %></div>
          <div class="news-body"><%= news.description %></div>
          <div class="news-domain pull-left"><a href="http://<%= news.domain %>" target="_blank"><%= news.domain %></a></div>
          <div class="news-link pull-right"><%= link_to "Read More", news.full_url, target: "_blank" %></div>
        </div>  
      <% end %>               
    </div>
  </div>
</div>    