<div class="row">
  <div class="col-md-12">
    <div class="module">
      <div class="user-box clearfix">
        <div class="user-box-picture pull-left">
          <%= link_to current_user do %>
            <img src="<%= current_user.profile.image? ? current_user.profile.image_url(:thumb_small) : asset_path("small-user.png") %>" width="59" height="52">
          <% end %>
        </div>
        <div class="user-box-name">
          <%= current_user.full_name %>
        </div>
        <div class="user-box-summoner">
          <%= current_user.username %>
        </div>
        <div class="user-box-location">
          <%= current_user.profile.location.present? ? current_user.profile.location.formatted_address : link_to("Set Your Location", user_about_path(current_user)) %>
        </div>
        <div class="user-box-stats">
          <img src="<%= current_user.verified_summoner? && @rank ? season_rank_image(@rank.tier) : asset_path('summoner/badges/placeholder.png') %>" class="pull-left" width="56" height="52">
          <d1 class="pull-left">
            <dt>Friends</dt>
            <dd><%= link_to (current_user.followers & current_user.following_users).count, user_friends_path(current_user) %></dd>
          </d1>
          <d1 class="pull-left">
            <dt>Followers</dt>
            <dd><%= link_to current_user.followers_count, user_followers_path(current_user) %></dd>
          </d1>
          <d1 class="pull-left">
            <dt>Following</dt>
            <dd><%= link_to current_user.follow_count, user_following_path(current_user) %></dd>
          </d1>
        </div>
        <div class="user-box-profile-link pull-right clearfix">
          <%= link_to "View Profile", user_path(current_user) %>
        </div>              
      </div>        
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="module">
      <h4>Invite friends to beta</h4>
      You have <span class="invite-count yellow"><%= render "users/invitations/count", count: @invite_count %></span> left.
      <div class="manage-invite-button">
      <%= link_to "Manage Invites", new_user_invitation_path, remote: true, data: {toggle: 'modal', target: "inviteModal"}, class: "invite-modal-button btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
  <%= render 'shared/modal', id: "invite", partial: "users/invitations/modal" %>    
</div>
<div class="row">
  <div class="col-md-12">
    <div class="module"> 
      <h4>
        Latest Updates 
        <%= link_to latest_updates_path do %>
          <small class="pull-right glyphicon glyphicon-new-window"></small>
        <% end %>
      </h4>      
      <% @activities.each do |activity| %>
        <%= render 'public_activity/activity', activity: activity %>
      <% end %>                                   
    </div>
  </div>
</div> 
<div class="row">
  <div class="col-md-12">
    <div class="module trending-topics clearfix">
      <h4>Trending Topics</h4>
      <% @hashtags.each do |hashtag| %>
        <%= render 'hashtags/trending', hashtag: hashtag %>  
      <% end %>                                    
    </div>
  </div>
</div> 
<div class="row">
  <div class="col-md-12">
    <div class="module suggested-friends clearfix">
      <h4>Suggested Friends</h4>
      <div class="col-md-6">
        <% @suggested_friends.limit(3).each do |suggested| %>
          <div class="suggested-friend">
            <div class="suggested-thumb">
              <%= link_to user_path(suggested) do %>
                <img src="<%= suggested.profile.image? ? suggested.profile.image_url(:thumb_small) : asset_path("small-user.png") %>" width="38" height="35">
              <% end %>
            </div>
            <div class="suggested-name">
              <%= link_to truncate(suggested.full_name, length: 12), user_path(suggested) %>
            </div>
          </div>
        <% end %>  
      </div>
      <div class="col-md-6">
        <% @suggested_friends.limit(3).offset(3).each do |suggested| %>
          <div class="suggested-friend">
            <div class="suggested-thumb">
              <%= link_to user_path(suggested) do %>
                <img src="<%= suggested.profile.image? ? suggested.profile.image_url(:thumb_small) : asset_path("small-user.png") %>" width="38" height="35">
              <% end %>
            </div>
            <div class="suggested-name">
              <%= link_to truncate(suggested.full_name, length: 12), user_path(suggested) %>
            </div>
          </div>
        <% end %> 
      </div>                                                     
    </div>
  </div>
</div>  
<% unless @footer_page %>
  <div class="row">
    <div class="col-md-12">
      <div class="module sidebar-footer">
        <%= link_to "Blog", "http://blog.leaguejunkies.com", target: "_blank" %>
        <%= link_to "About", about_path %>
        <%= link_to "Contact", contact_path %>
        <%= link_to "Privacy", privacy_path %>
        <%= link_to "Terms", tos_path %>
        <div>AoE Interactive © 2015</div>
      </div>
    </div>
  </div>
<% end %>