<div class="container">
  <div class="col-md-3 col-padding">
    <%= render 'dashboard/sidebar' %>
  </div>
  <div class="col-md-6 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="create-status clearfix">
            <%= render 'posts/form' %>
          </div>        
          <div class="oembed-preview" style="display:none;">
          </div>
        </div>
      </div>
    </div>
    <% unless current_user.verified_summoner? %>
      <div class="row">
        <div class="col-md-12">
          <div class="module verify-notice">
            <div class="verify-notice-body">
              <p class="margin-top-10"><span class="yellow"><%= current_user.full_name %>,</span></p>
              <p>Welcome to the League Junkies closed beta!<br/>
              You'll be helping us turn this into something truly special.<br/>
              But first, let's get you set up!</p>
            </div>
            <%= link_to "Verify Your Summoner", settings_path, class: "verify-notice-button btn btn-primary btn-lg" %>
          </div>
        </div>
      </div>
    <% end %>
    <% unless cookies[:hide_follow_team] %>
      <%= render "follow_team/follow_team", suggestions: @leaguejunkies_team %>
    <% end %>
    <div class="posts">
      <% @posts.each do |post| %>
        <%= render "posts/#{post.type.underscore}", post: post %>
      <% end %>
    </div>  
    <%= render 'shared/modal', id: "share", partial: "shares/modal" %>
    <center><%= will_paginate @posts, renderer: BootstrapPagination::Rails, param_name: 'main_pagination', class: "feed-pagination" if @posts.present? %></center>
  </div>
  <div class="col-md-3 col-padding">
    <%= render 'dashboard/riot_news' %>
  </div>
</div>