<div class="message clearfix">
  <div class="message-avatar">
    <%= link_to user_path(message.sender) do %>
      <img src="<%= message.sender.profile.image? ? message.sender.profile.image_url(:thumb_small) : asset_path('small-user.png') %>" width="46">
    <% end %>
  </div>
  <div class="message-body">
    <%= message.body %>
  </div>
  <div class="message-date pull-right">
    <%= local_time(message.created_at, "%l:%M %p on %m/%d/%Y") %>
  </div>
</div> 