<div class="container margin-bottom-140">
  <div class="col-md-3 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="conversations-list">
            <div class="filter left-inner-addon">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" class="form-control" placeholder="Filter">
            </div>
            <div class="conversations">
              <ul class="list-group">  
                <% @conversations.each do |conversation| %>      
                  <%= render "conversations/conversation", conversation: conversation %>
                <% end %> 
              </ul>                                
            </div>
          </div>                
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module">      
          <div class="messages">
            <h4><%= @conversation.subject %></h4>
            <% @messages.each do |message| %>
              <%= render "messages/message", message: message %>
            <% end %>       
          </div>
          <div class="message-input clearfix">
            <%= form_tag reply_conversation_path(@conversation), class: "conversation-reply", method: :post, remote: true do %>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><img src="<%= current_user.profile.image? ? current_user.profile.image_url(:thumb_small) : asset_path('small-user.png') %>" width="32" height="32"></span>
                  <%= text_area_tag :body, nil, class: "form-control enter-submit atwho resize", rows: "1", placeholder: "Write a message..." %>
                </div>
                <%= submit_tag "Submit", class: "btn btn-primary pull-right" %>
              </div>
            <% end %>
          </div>
        </div>      
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>