var about_container = $(".about-profile");
about_container.html("<%= j render 'profiles/form' %>");

var options = {language: 'en-US', types: ['(cities)']};
var input = $("#location_select");
var autocomplete = new google.maps.places.Autocomplete(input[0], options);
autocomplete.addListener('place_changed', createOrFindLocation);
google.maps.event.addDomListener(input[0], 'keydown', function(e) {
  if (e.keyCode == 13) {
    e.preventDefault();
    return false;
  }
});