<div class="container">
  <%= render 'users/header' %>
  <div class="col-md-3 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module about-menu">
          <ul class="list-unstyled">
            <%= link_to user_about_path(@user) do %>
              <li>
                <%= image_tag 'icons/icons_bio.png' %> Bio
              </li>
            <% end %>
            <%= link_to user_favorites_path(@user) do %>
              <li>
                <%= image_tag 'icons/icons_favorite.png' %> Favorites
              </li>
            <% end %>
            <a href="#">
              <li>
                <%= image_tag 'icons/icons_team.png' %> Team
              </li>
            </a>
            <a href="#">
              <li>
                <%= image_tag 'icons/icons_achievements.png' %> Achievements
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-padding">
    <div class="posts">
      <% @favorites.each do |favorite| %>
        <%= render "posts/#{favorite.favoritable.type.underscore}", post: favorite.favoritable %>
      <% end %>      
    </div>
    <%= render 'shared/modal', id: "share", partial: "shares/modal" %>
    <center><%= will_paginate @favorites, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" if @favorites.present? %></center>  
  </div>
</div>