<div class="container margin-bottom-80">
  <%= render 'users/header' %>
  <div class="col-md-3 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module about-menu">
          <ul class="list-unstyled">
            <%= link_to user_about_path(@user) do %>
              <li>
                <%= image_tag 'icons/icons_bio.png' %> Bio
              </li>
            <% end %>
            <%= link_to user_favorites_path(@user) do %>
              <li>
                <%= image_tag 'icons/icons_favorite.png' %> Favorites
              </li>
            <% end %>
            <a href="#">
              <li>
                <%= image_tag 'icons/icons_team.png' %> Team
              </li>
            </a>
            <a href="#">
              <li>
                <%= image_tag 'icons/icons_achievements.png' %> Achievements
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="about-bio">
            <h4>
              <%= image_tag 'icons/icons_person.png' %> About <%= @user.username %>
              <% if @user == current_user %>
                <%= link_to profile_edit_path, remote: true do %>
                  <%= image_tag 'icons/icons_pencil.png', class: 'about-pencil' %>
                <% end %>
              <% end %>
            </h4>
            <div class="about-profile">          
              <%= render "profiles/profile" %>
            </div>
          </div>
          <div class="about-bio-hr"></div>
          <div class="about-summoner clearfix">
            <div class="col-md-4">
              <div class="about-summoner-avatar">
                <img src="<%= @summoner ? @summoner.icon_url : asset_path("summoner_avatar.png") %>" width="92">
              </div>
              <div class="about-summoner-info">
                <div class="about-summoner-name"><%= @summoner ? @summoner.name : "N/A" %></div>
                <div class="about-summoner-server"><%= @summoner ? @summoner.region.name : "N/A" %></div>
                <div class="about-summoner-level">lvl. <%= @summoner ? @summoner.level : "N/A" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="about-summoner-stats-header">
                Normal 5v5
              </div>
              <ul class="list-unstyled">
                <li>Wins: <span class="yellow"><%= @normal_stats ? @normal_stats.wins : "N/A" %></span></li>
                <li>Kills: <span class="yellow"><%= @normal_stats ? @normal_stats.champion_kills : "N/A" %></span></li>
                <li>Assists: <span class="yellow"><%= @normal_stats ? @normal_stats.assists : "N/A" %></span></li>
                <li>Minion Kills: <span class="yellow"><%= @normal_stats ? @normal_stats.minion_kills : "N/A" %></span></li>
                <li>Turrets Destroyed: <span class="yellow"><%= @normal_stats ? @normal_stats.turret_kills : "N/A" %></span></li>
              </ul>
            </div>
            <div class="col-md-4">
              <div class="about-summoner-stats-header">
                Rank 5v5
              </div>      
              <ul class="list-unstyled">
                <li>Wins: <span class="yellow"><%= @rank_stats && @rank_stats.wins.present? ? @rank_stats.wins : "N/A" %></span></li>
                <li>Kills: <span class="yellow"><%= @rank_stats && @rank_stats.champion_kills.present? ? @rank_stats.champion_kills : "N/A" %></span></li>
                <li>Assists: <span class="yellow"><%= @rank_stats && @rank_stats.assists.present? ? @rank_stats.assists : "N/A" %></span></li>
                <li>Minion Kills: <span class="yellow"><%= @rank_stats && @rank_stats.minion_kills.present? ? @rank_stats.minion_kills : "N/A" %></span></li>
                <li>Turrets Destroyed: <span class="yellow"><%= @rank_stats && @rank_stats.turret_kills.present? ? @rank_stats.turret_kills : "N/A" %></span></li>
              </ul>                      
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places" %>