<% if remotipart_submitted? %>
  var profile_img = $('.profile-img-container img');
  var remove_link = $('.remove-profile-img');
  var avatar_ajax_container = $(".avatar-ajax-container");
  profile_img.attr('src', "<%= @profile.image_url(:thumb_large) %>");
  avatar_ajax_container.hide();
  profile_img.show();
  remove_link.html('<%= link_to "Remove", user_remove_avatar_path(@profile.user), method: :delete, remote: true, data: {confirm: "Are you sure you want to delete this?"} if @profile.image? %>');
<% end %>