<div class="comment" data-comment-id="<%= comment.id %>">
  <% if current_user == comment.user %>
    <%= link_to polymorphic_path([comment.commentable.class < Post ? comment.commentable.becomes(Post) : comment.commentable, comment]), method: :delete, remote: true, data: {confirm: 'Are you sure you want to delete this?'}, class: "close" do %>
      <span>×</span>
    <% end %>
  <% end %>
  <%= link_to comment.user do %>
    <img src="<%= comment.user.profile.image? ? comment.user.profile.image_url(:thumb_small) : asset_path("small-user.png") %>" width="32" class="pull-left">
  <% end %>
  <div class="comment-body">
    <%= simple_format auto_link(auto_link_usernames(linkify_hashtags(comment.body))) %> 
  </div>
  <div class="comment-footer">
    <%= link_to "#{comment.user.full_name} @#{comment.user.username}", comment.user %> - <%= local_time_ago(comment.created_at) %>
  </div>
</div>