var base_class = "<%= @commentable.class.base_class.to_s.underscore %>";
var comments = $("div[data-" + base_class + "-id='<%= @commentable.id %>'] ." + base_class + "-comments");
var text_area = $("div[data-" + base_class + "-id='<%= @commentable.id %>'] ." + base_class + "-comment-input #comment_body");
var post_stats = $("div[data-" + base_class + "-id='<%= @commentable.id %>'] .comments-count");

comments.prepend('<%=j render "comments/comment", comment: @comment %>');
text_area.val('');
text_area.height('auto');
post_stats.html('<%=j render "comments/comments_count", object: @commentable %>');