var base_class = "<%= @commentable.class.base_class.to_s.underscore %>";

$("div[data-" + base_class + "-id='<%= @commentable.id %>'] ." + base_class + "-comments").append('<%= j render @comments %>');
$('.comment-body').readmore({
  lessLink: '<a href="#">See Less</a>',
  moreLink: '<a href="#">See More</a>',
  embedCSS: false,
  collapsedHeight:100
});  
<% if @comments.next_page %>
  $("div[data-" + base_class + "-id='<%= @commentable.id %>'] ." + base_class + "-comments-pagination .load-more-comments").replaceWith("<%= j link_to 'View More', polymorphic_path([@commentable.class < Post ? @commentable.becomes(Post) : @commentable, @comments], comments_page: @comments.next_page), class: 'load-more-comments', remote: true if @comments.next_page %>");
<% else %>
  $("div[data-" + base_class + "-id='<%= @commentable.id %>'] ." + base_class + "-comments-pagination .load-more-comments").remove();
<% end %>