<%= link_to message_path(conversation), class: "list-group-item conversation unread clearfix" do %>
  <img src="<%= conversation.participants.reject {|p| p.id == current_user.id}.first.profile.image? ? conversation.participants.reject {|p| p.id == current_user.id}.first.profile.image_url(:thumb_small) : asset_path('small-user.png') %>" width="36" class="conversation-avatar pull-left">
  <div class="conversation-info pull-left">
    <div class="conversation-name">
      <%= conversation.participants.reject {|p| p.id == current_user.id}.first.full_name %> <span class="friend-username">@<%= conversation.participants.reject {|p| p.id == current_user.id}.first.username %></span>
    </div>
    <div class="conversation-preview">
      <%= conversation.subject %>
    </div>
  </div>                  
<% end %>