<% if @summoner %>
  <div class="col-md-12 col-padding" data-summoner-id="<%= @summoner.name %>">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9 col-padding">
        <div class="module set-height">
            <%= link_to summoner_path(@summoner), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: "close" do %>
              <span>×</span></a>
            <% end %>      
          <div class="about-summoner clearfix" style="padding-top:25px;">
            <div class="col-md-4">
              <img src="<%= @summoner && @summoner.icon_url ? @summoner.icon_url : asset_path("summoner_avatar.png") %>" class="pull-left" width="92">
              <div class="about-summoner-info pull-left">
                <div class="about-summoner-name"><%= @summoner.name %></div>
                <div class="about-summoner-server"><%= @summoner.region.name %></div>
                <div class="about-summoner-level">lvl. <%= @summoner.level ? @summoner.level : "N/A" %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="about-summoner-stats-header">
                Normal 5v5
              </div>
              <ul class="list-unstyled">
                <li>Wins: <span class="yellow"><%= @normal_stats ? @normal_stats.wins : "N/A" %></span></li>
                <li>Kills: <span class="yellow"><%= @normal_stats ? @normal_stats.champion_kills : "N/A" %></span></li>
                <li>Assists: <span class="yellow"><%= @normal_stats ? @normal_stats.assists : "N/A" %></span></li>
                <li>Minion Kills: <span class="yellow"><%= @normal_stats ? @normal_stats.minion_kills : "N/A" %></span></li>
                <li>Turrets Destroyed: <span class="yellow"><%= @normal_stats ? @normal_stats.turret_kills : "N/A" %></span></li>
              </ul>
            </div>
            <div class="col-md-4">
              <div class="about-summoner-stats-header">
                Rank 5v5
              </div>      
              <ul class="list-unstyled">
                <li>Wins: <span class="yellow"><%= @ranked_stats ? @ranked_stats.wins : "N/A" %></span></li>
                <li>Kills: <span class="yellow"><%= @ranked_stats ? @ranked_stats.champion_kills : "N/A" %></span></li>
                <li>Assists: <span class="yellow"><%= @ranked_stats ? @ranked_stats.assists : "N/A" %></span></li>
                <li>Minion Kills: <span class="yellow"><%= @ranked_stats ? @ranked_stats.minion_kills : "N/A" %></span></li>
                <li>Turrets Destroyed: <span class="yellow"><%= @ranked_stats ? @ranked_stats.turret_kills : "N/A" %></span></li>
              </ul>                    
            </div>
          </div>
        </div>
      </div>
    </div>      
  </div>
<% end %>