<% if current_user.summoners.empty? %> 
<div class="container add-summoner-form">
  <div class="col-md-12 col-padding">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9 col-padding">
        <div class="module">
          <div class="settings-content">
            <div class="settings-account">
              <p>Link League of Legends Account</p>
              <%= form_for @new_summoner, html: {class: 'account-search form-inline'}, remote: true do |f| %>
                <div class="form-group">
                  <%= f.text_field :name, class: 'form-control', placeholder: "Summoner Name" %>
                </div>
                <div class="form-group">
                  <%= f.select :region_id, Region.all.collect {|r| [r.code.upcase, r.id]}, {}, class: 'form-control'  %>
                </div>
                <button>LINK ACCOUNT</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>