<% if current_user.unverified_summoner.present? %>
  <div class="verify-summoner-alert">
    <div class="verify-summoner-alert alert alert-dismissible alert-info">
      <div class="verify-summoner-alert-body">
        <h4>Wait up Summoner!</h4>
        <p class="verify-message">You still need to verify your summoner name before it can be linked to your account! It's really easy, just put the code below as the name of one of your mastery pages and click verify. Once you do that, you won't have to do it again.</p>
        <p class="verify-message">Please note, it can take up to 5 minutes after you've saved your masteries before you can verify your summoner.</p>
        <center>
          <p><b><%= current_user.unverified_summoner.verification_token %></b></p>
          <div class="summoner-verify-link"><%= link_to "Verify Summoner", summoner_verify_path(current_user.unverified_summoner), remote: true, class: 'summoner-verify-href alert-link' %></div>
        </center>
      </div>
    </div>
  </div> 
<% end %>