<div class="latest-update clearfix">
  <img src="<%= activity.owner.profile.image? ? activity.owner.profile.image_url(:thumb_small) : asset_path("small-user.png") %>" width="25" height="22" class="pull-left">
  <div class="update-body">
    <%= link_to activity.owner.full_name, activity.owner %> <%= render_activity activity %>
  </div>
  <div class="update-date pull-right">
    <%= local_time_ago(activity.created_at) %>
  </div>
</div>