<div class="<%= oembed_image_class(oembed) %>card-content-container">
  <div class="card-content">
    <div class="card-image">
      <%= link_to oembed_url do %>
        <img src="<%= oembed.thumbnail_url %>" class="card-image-img" style="opacity:1;">
      <% end %>
    </div>
    <div class="card-text">
      <h4>
        <%= link_to oembed_url do %>
          <%= truncate(oembed.title, length: 117) %>
        <% end %>
      </h4>
      <p>
        <%= link_to oembed_url do %>
          <%= oembed.description %>
        <% end %>
      </p>
      <a href="<%= oembed_url %>" class="card-action"><%= oembed.provider_url %></a>
    </div>
  </div>
</div>