<div class="card-content-container">
  <div class="card-content">
    <div class="card-video" style="background-color:#fff;">
      <%= oembed.html.html_safe %>
    </div>
    <div class="card-text">
      <h4>
        <%= link_to oembed_url do %>
          <%= oembed.title %>
        <% end %>
      </h4>
      <p>
        <%= link_to oembed_url do %>
          <%= truncate(oembed.description, length: 117) %>
        <% end %>
      </p>
      <a href="<%= oembed_url %>" class="card-action"><%= oembed.provider_url %></a>
    </div>
  </div>
</div>