<div class="row">
  <div class="col-md-12">
    <div class="module">
      <div class="user-box clearfix">
        <div class="user-box-picture pull-left">
          <%= link_to current_user do %>
            <img src="<%= current_user.profile.image? ? current_user.profile.image_url(:thumb_small) : asset_path("small-user.png") %>" width="59" height="52">
          <% end %>
        </div>
        <div class="user-box-name">
          <%= current_user.full_name %>
        </div>
        <div class="user-box-summoner">
          <%= current_user.username %>
        </div>
        <div class="user-box-location">
          <%= current_user.profile.location.present? ? current_user.profile.location.formatted_address : link_to("Set Your Location", user_about_path(current_user)) %>
        </div>
        <div class="user-box-stats">
          <img src="<%= current_user.verified_summoner? && @rank ? season_rank_image(@rank.tier) : asset_path('summoner/badges/placeholder.png') %>" class="pull-left" width="56" height="52">
          <d1 class="pull-left">
            <dt>Friends</dt>
            <dd><%= link_to (current_user.followers & current_user.following_users).count, user_friends_path(current_user) %></dd>
          </d1>
          <d1 class="pull-left">
            <dt>Followers</dt>
            <dd><%= link_to current_user.followers_count, user_followers_path(current_user) %></dd>
          </d1>
          <d1 class="pull-left">
            <dt>Following</dt>
            <dd><%= link_to current_user.follow_count, user_following_path(current_user) %></dd>
          </d1>
        </div>
        <div class="user-box-profile-link pull-right clearfix">
          <%= link_to "View Profile", user_path(current_user) %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="module">
      <h4>Location Options</h4>
      <div class="location-options">
        <ul class="list-unstyled">
          <li>
            <%= image_tag "icons/summoners_nearby.png", class: "summoners-nearby-icon" %> <%= link_to "Summoners Nearby", nearby_summoners_path %>
          </li>
          <li>
            <%= image_tag "icons/posts_nearby.png", class: "posts-nearby-icon" %> <%= link_to "Posts in Your Area", nearby_posts_path %>
          </li>
          <li>
            <%= image_tag "icons/events_nearby.png", class: "events-nearby-icon" %> <%= link_to "All Events", nearby_events_path %>
          </li>
          <li>
            <%= image_tag "icons/create_event.png", class: "create-event-icon" %> <%= link_to "Create An Event", new_event_path, remote: true, data: {toggle: 'modal', target: 'eventModal'} %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%= render 'shared/modal', id: "event", partial: "events/modal" %> 
</div>
<div class="row">
  <div class="col-md-12">
    <div class="module">
      <h4>Popular Events in <span class="yellow"><%= @location.state %></span></h4>
      <% @popular_events.each do |event| %>
        <div class="popular-event clearfix">
          <img src="<%= event.image? ? event.image_url(:thumb) : asset_path("events/banner_placeholder_thumb.png") %>" width="69" height="69" class="pull-left">
          <div class="popular-event-title"><%= link_to truncate(event.name, length: 25), event %></div>
          <div class="popular-event-description"><%= truncate event.description, length: 60 %></div>
          <div class="popular-event-date pull-right"><%= local_time(event.start, "%A, %B %e at %l:%M %p") %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% unless @footer_page %>
  <div class="row">
    <div class="col-md-12">
      <div class="module sidebar-footer">
        <%= link_to "Blog", "http://blog.leaguejunkies.com", target: "_blank" %>
        <%= link_to "About", about_path %>
        <%= link_to "Contact", contact_path %>
        <%= link_to "Privacy", privacy_path %>
        <%= link_to "Terms", tos_path %>
        <div>AoE Interactive © 2015</div>
      </div>
    </div>
  </div>
<% end %>