<div class="row">
  <div class="col-md-12">
    <div class="module clearfix">
      <%= link_to user do %>
        <img class="pull-left" src="<%= user.profile.image? ? user.profile.image_url(:thumb_medium) : asset_path("small-user.png") %>" width="118" height="104">
      <% end %>
      <div class="search-result-actions pull-right">
      <% unless current_user == user %>
        <div data-followable-id="<%= user.slug %>">
          <% if current_user.following?(user) %>
            <%= render 'follows/unfollow', user: user %>
          <% else %>
            <%= render 'follows/follow', user: user %>
          <% end %>        
        </div>
        <% unless current_user == user %>
          <img src="<%= asset_path 'icons/icons_message.png' %>">
          <%= link_to "Message", new_message_path(user: user.slug), remote: true, data: {toggle: 'modal', target: "messageModal"} %>   
        <% end %>        
      <% end %>
      </div>
      <%= render 'shared/modal', id: "message", partial: "messages/modal" %>        
      <div class="search-result-info pull-left">
        <div class="search-result-username">
          <%= link_to user.username, user %>
        </div>
        <div class="search-result-fullname">
          <%= user.full_name %>
        </div>
        <div class="search-result-location">
          <%= user.profile.location.present? ? user.profile.location.formatted_address : "Unknown Location" %>
        </div>
      </div>
    </div>
  </div>
</div> 