$('.events').append('<% @events.each do |event| %><%= j render "nearby/event", event: event %><% end %>');

<% if @events.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @events, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" %>');
<% else %>
  $('.pagination').remove();
<% end %>