<div class="container">
  <div class="col-md-3 col-padding">
    <%= render 'nearby/left_sidebar' %>
  </div>
  <div class="col-md-6 col-padding">
    <div class="module search-results-for">
      All Summoners in <%= @location.state %>
    </div>
    <div class="nearby-summoners">
      <% @profiles.each do |profile| %>
        <%= render 'nearby/summoner', user: profile.user %>
      <% end %>
    </div>
    <center><%= will_paginate @profiles, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" if @profiles.present? %></center>    
  </div>
  <div class="col-md-3 col-padding">
    <%= render 'nearby/right_sidebar' %>
  </div>
</div>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places" %>