$('.nearby-summoners').append('<% @profiles.each do |profile| %><%= j render "nearby/summoner", user: profile.user %><% end %>');

<% if @profiles.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @profiles, renderer: BootstrapPagination::Rails. param_name: "main_pagination", class: "feed-pagination" %>');
<% else %>
  $('.pagination').remove();
<% end %>