<% if @notifications.present? %>
  <p class="notification-heading">
    <%= image_tag "icons/notifications/alert.png" %> 
    <%= @notifications.unread.count %> New <%= "Notification".pluralize(@notifications.unread.count) %>
  </p>
  <div class="notification-dropdown-container scrollbar">
    <% @notifications.each do |notification| %>
      <%= render "notifications/#{notification.notifiable_type.underscore}/dropdown", notification: notification %>
    <% end %>
  </div>
  <center><%= will_paginate @notifications, param_name: :notifications_page, params: { controller: "notifications", action: "paginate"}, renderer: BootstrapPagination::Rails, class: "notifications-pagination" if @notifications.present? %></center>  
<% else %>
  <p class="notification-heading">
    <%= image_tag "icons/notifications/alert.png" %> 0 New Notifications
  </p>
<% end %>
<dv class="notifications-more">
  <center><%= link_to "View More", notifications_path %></center>
</dv>