<div class="latest-update clearfix">
  <img src="<%= notification.notifier.profile.image? ? notification.notifier.profile.image_url(:thumb_small) : asset_path("small-user.png") %>" width="25" height="22" class="pull-left">
  <div class="update-body">
    <%= link_to notification.notifier.full_name, notification.notifier %> <%= render "notifications/#{notification.notifiable_type.underscore}/listing", notification: notification %>
  </div>
  <div class="update-date pull-right">
    <%= local_time_ago(notification.created_at) %>
  </div>
</div>