  <div class="col-md-7 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module clearfix" style="position:relative;">
          <div class="profile-img pull-left">
            <div class="profile-img-container">
              <div class="avatar-ajax-container" style="display:none;">
                <div class="ajax-loader medium"></div>
              </div>
              <img src="<%= @user.profile.image? ? @user.profile.image_url(:thumb_large) : "http://assets.leaguejunkies.com/profile_pic.jpg" %>" width="232" height="205">
            </div>
            <% if current_user == @user %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <div class="profile-img-edit-bg">
                  <div class="profile-img-edit-text">
                    Edit Photo
                  </div>
                  <div class="profile-img-edit-camera pull-right">
                    <%= image_tag 'icons/icons_camera.png' %>
                  </div>
                </div>
              </a>
              <ul class="dropdown-menu user-menu profile-img-edit-dropdown">
                <li class="avatar-form">
                  <%= render 'profiles/avatar_form', user: @user %>
                </li>
                <li class="remove-profile-img"><%= link_to 'Remove', user_remove_avatar_path(@user), method: :delete, remote: true, class: 'remove_avatar_link', data: {confirm: 'Are you sure you want to delete this?'} if @user.profile.image? %></li>           
              </ul>
            <% end %>
          </div>
          <div class="profile-box-about">
            <h4><%= @user.username %></h4>
            <%= @user.full_name %>
            <div class="profile-box-about-body">
              <%= simple_format auto_link(auto_link_usernames(linkify_hashtags(truncate(@user.profile.snippet, length: 230, escape: false)))) %>
            </div>
            <div class="profile-follow-button">
              <div class="pull-left" data-followable-id="<%= @user.slug %>">
                <% unless current_user == @user %>
                  <% if current_user.following?(@user) %>
                    <%= render 'follows/unfollow', user: @user %>
                  <% else %>
                    <%= render 'follows/follow', user: @user %>
                  <% end %>
                <% else %>
                  <%= link_to "Edit Header", profile_edit_header_path, remote: true %>
                <% end %>
              </div>
              <% unless current_user == @user %>
                <img src="<%= asset_path 'icons/icons_message.png' %>">
                <%= link_to "Message", new_message_path(user: @user.slug), remote: true, data: {toggle: 'modal', target: "messageModal"} %>   
              <% end %>           
            </div>
            <%= render 'shared/modal', id: "message", partial: "messages/modal" %>             
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module clearfix">
          <div class="season-rank">
            <div class="pull-left">
              <h4>Season Rank</h4>
              <p>Solo/Duo Queue</p>
              <div class="season-rank-picture">
                <img src="<%= @user.verified_summoner? && @rank ? season_rank_image(@rank.tier) : asset_path('summoner/badges/placeholder.png') %>" width="136" height="136">
              </div>
            </div>
          </div>
          <div class="season-rank-content pull-right">
            <div class="gradient-line"></div>
            <div class="season-rank-text">
              <% if @user.verified_summoner? && @rank %>
                <h4><span class="rank-header"><%= @rank.tier.capitalize %> Division <%= @rank.division %></span></h4>
                <p><span class="team-name"><%= @rank.name %></span></p>
                <p>Wins: <span class="rank-values"><%= @rank_stats ? @rank_stats.wins : "0" %></span></p>
                <p>Games: <span class="rank-values"><%= @rank_stats ? @rank_stats.wins + @rank_stats.losses : "0" %></span></p>
                <p>Points: <span class="rank-values"><%= @rank.points %></span></p>
              <% elsif @user.verified_summoner? %>
                <h4><span class="rank-header">No Rank</span></h4>
                <p>Wins: <span class="rank-values">0</span></p>
                <p>Games: <span class="rank-values">0</span></p>
                <p>Points: <span class="rank-values">0</span></p>                
              <% elsif @user == current_user %>
                <h4>
                  <%= link_to "Link Account", settings_path, class: "rank-header" %>
                </h4>
                <p><span class="team-name">Before you can view your stats you need to click the link above to connect your summoner account.</span></p>
              <% else %>
                <h4 class="yellow">
                  No Summoner Linked
                </h4>
                <p><span class="team-name">Before you can view this user's stats they need to connect their summoner account.</span></p>              
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3 col-padding">
        <%= link_to "Feed", user_path(@user), {style: "display:block;", class: "module tab"} %>
      </div>
      <div class="col-md-3 col-padding">
        <%= link_to "About", user_about_path(@user), {style: "display:block;", class: "module tab"} %>
      </div>
      <div class="col-md-3 col-padding">
        <%= link_to "Media", user_photos_path(@user), {style: "display:block;", class: "module tab"} %>    
      </div>
      <div class="col-md-3 col-padding">
        <%= link_to "Friends", user_friends_path(@user), {style: "display:block;", class: "module tab"} %>    
      </div>
    </div>
  </div>