$('.matches').append('<% @matches.each do |match| %><%= j render "users/matches/match", match: match %><% end %>');
<% if @matches.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @matches, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" %>');
<% else %>
  $('.pagination').remove();
<% end %>