<div class="container">
  <%= render 'users/header' %>
  <div class="col-md-12 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="matches">
            <h4>Match History</h4>
            <% @matches.each do |match| %>
              <%= render "users/matches/match", match: match %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <center><%= will_paginate @matches, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" if @matches.present? %></center>  
  </div>  
</div>