<div class="container">
  <%= render 'users/header' %>
  <div class="col-md-4 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module clearfix">
          <img class="margin-top-10 pull-left" src="<%= @user.verified_summoner? && @most_played_champion ? @most_played_champion.champion.loading_image_url : asset_path('summoner/best_champion.png') %>" width="126" height="187">
          <h4>Most Played Champion</h4>
          <% if @user.verified_summoner? && @most_played_champion %>
            <ul class="best-champion-stats list-unstyled"> 
              <li><strong>Kills:</strong> <%= @most_played_champion.champion_kills %></li>
              <li><strong>Assists:</strong> <%= @most_played_champion.assists %></li>
              <li><strong>Deaths:</strong> <%= @most_played_champion.total_deaths %></li>
              <li><strong>Wins:</strong> <%= @most_played_champion.wins %></li>
              <li><strong>Games:</strong> <%= @most_played_champion.total_played %></li>
            </ul>
          <% elsif @user.verified_summoner? %>
            <ul class="best-champion-stats list-unstyled"> 
              <li><strong>Kills:</strong> 0</li>
              <li><strong>Assists:</strong> 0</li>
              <li><strong>Deaths:</strong> 0</li>
              <li><strong>Wins:</strong> 0</li>
              <li><strong>Games:</strong> 0</li>
            </ul>
          <% elsif @user == current_user %>
            <%= link_to "Link Account", settings_path %>
          <% else %>
            <span class="yellow">No Summoner Linked</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <h4>Match History</h4>
          <% if @user.verified_summoner? %>
            <% @matches.each do |match| %>
              <% @match_summoner = match.match_summoners.find_by_summoner_id(@summoner.id) %>
              <% @match_stats = match.match_stats.find_by_summoner_id(@summoner.id) %>
              <div class="match-history-result clearfix">
                <img src="<%= @match_summoner.champion.icon_image_url %>" width="56" class="pull-left">
                <ul class="list-unstyled">
                  <li><span class="<%= @match_summoner.win? ? "green" : "red" %>"><%= @match_summoner.win? ? "Victory" : "Defeat" %></span> (<%= game_type(match.game_sub_type) %>)</li>
                  <li><%= match_map(match.map_id) %></li>
                  <li>
                    <small><%= match.riot_date.strftime("%m - %d - %Y") %></small>
                    <span class="match-history-result-stats pull-right">
                      <%= image_tag 'icons/matches/score.png' %>
                      <span class="green"><%= @match_stats.kills ? @match_stats.kills : "0" %></span> /
                      <span class="red"><%= @match_stats.deaths ? @match_stats.deaths : "0" %></span> /
                      <span class="green"><%= @match_stats.assists ? @match_stats.assists : "0" %></span>
                    </span>
                  </li>
                </ul>
              </div>
            <% end %>
          <div class="view-more"><%= link_to "View More", user_matches_path(@user) %></div>
          <% elsif @user == current_user %>
            <center><%= link_to "Link Account to Display Match History", settings_path %></center>
          <% else %>
            <center><span class="yellow">No Summoner Linked</span></center>
          <% end %>
        </div>
      </div>
    </div>  
    <% unless @footer_page %>
      <div class="row">
        <div class="col-md-12">
          <div class="module sidebar-footer">
            <%= link_to "Blog", "http://blog.leaguejunkies.com", target: "_blank" %>
            <%= link_to "About", about_path %>
            <%= link_to "Contact", contact_path %>
            <%= link_to "Privacy", privacy_path %>
            <%= link_to "Terms", tos_path %>
            <div>AoE Interactive © 2015</div>
          </div>
        </div>
      </div>
    <% end %>    
  </div>
  <div class="col-md-8 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="create-status clearfix">
            <%= render 'posts/form' %>
          </div>
          <div class="oembed-preview" style="display:none;">
          </div>          
        </div>
      </div>
    </div>
    <div class="posts">
      <% @posts.each do |post| %>
        <%= render "posts/#{post.type.underscore}", post: post %>
      <% end %>      
    </div>
    <%= render 'shared/modal', id: "share", partial: "shares/modal" %>
    <center><%= will_paginate @posts, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" if @posts.present? %></center>
  </div>
</div>