<div class="modal fade" id="<%= id %>Modal" tabindex="-1" role="dialog" aria-labelledby="<%= id %>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render partial %>
    </div>  
  </div>
</div>