<div class="trending-topic clearfix">
  <div class="trending-hashtag"><%= link_to "##{hashtag.display}", hashtag_path(hashtag.display) %></div>
  <div class="trending-posts-count"><%= link_to "#{hashtag.posts_count} Posts", hashtag_path(hashtag.display) %></div>
  <div class="trending-date pull-right"><%= local_time_ago(hashtag.last_post_at) %></div>
</div> 