<div class="container">
  <div class="col-md-3 col-padding">
    <%= render 'dashboard/sidebar' %>
  </div>
  <div class="col-md-6 col-padding">
    <div class="module search-results-for">
        #<%= params[:hashtag] %>
    </div>
    <div class="posts">
      <% if @hashtagged %>
        <% @hashtagged.each do |hashtagged| %>
          <%= render_hashtaggable hashtagged %>
        <% end -%>
      <% else -%>
        <p>There is no match for the <em><%= params[:hashtag] %></em> hashtag.</p>
      <% end -%>

    </div>  
    <%= render 'shared/modal', id: "share", partial: "shares/modal" %>
    <center><%= will_paginate @hashtagged, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" if @hashtagged.present? %></center>
  </div>
  <div class="col-md-3 col-padding">
    <%= render 'dashboard/riot_news' %>  
  </div>
</div>