liked <%= link_to activity.recipient.full_name, activity.recipient %>'s <%= link_to activity.trackable.likeable.class.base_class.to_s.underscore, activity.trackable.likeable.class < Post ? activity.trackable.likeable.becomes(Post) : activity.trackable.likeable %>.