var modal = $("#eventModal");
var content = $("#eventModal .modal-content");
var body = $("#eventModal .modal-body-content");

body.html("<%= j render 'events/show/form' %>");
modal.modal();

modal.on('hidden.bs.modal', function(e) {
  content.html("<%= j render 'events/modal' %>");
});

var options = {language: 'en-US', types: ['establishment']};
var input = $("#place_select");

var autocomplete = new google.maps.places.Autocomplete(input[0], options);
autocomplete.addListener('place_changed', fillInPlace);
google.maps.event.addDomListener(input[0], 'keydown', function(e) {
  if (e.keyCode == 13) {
    e.preventDefault();
    return false;
  }
});