<% @match_summoner = match.match_summoners.find_by_summoner_id(@summoner.id) %>
<% @match_stats = match.match_stats.find_by_summoner_id(@summoner.id) %>
<div class="match-history-result clearfix">
  <img src="<%= @match_summoner.champion.icon_image_url %>" width="56" class="pull-left">
  <ul class="match-history-summoners pull-left">
  <li><img src="<%= @match_summoner.spell1.image_url %>" class="pull-left summoner-spell"></li>
  <li><img src="<%= @match_summoner.spell2.image_url %>" class="pull-left summoner-spell"></li>
  </ul>
  <ul class="list-unstyled pull-left match-history-type">
    <li><span class="<%= @match_summoner.win? ? "green" : "red" %>"><%= @match_summoner.win? ? "Victory" : "Defeat" %></span> (<%= game_type(match.game_sub_type) %>)</li>
    <li><%= match_map(match.map_id) %></li>
    <li>
      <small><%= match.riot_date.strftime("%m - %d - %Y") %></small>
    </li>
  </ul>
  <ul class="items list-unstyled clearfix pull-left">
    <li><%= image_tag @match_summoner.item0 ? @match_summoner.item0.image_url : "icons/matches/no_item.png", width: 30 %></li>
    <li><%= image_tag @match_summoner.item1 ? @match_summoner.item1.image_url : "icons/matches/no_item.png", width: 30 %></li>
    <li><%= image_tag @match_summoner.item2 ? @match_summoner.item2.image_url : "icons/matches/no_item.png", width: 30 %></li>
    <li><%= image_tag @match_summoner.item3 ? @match_summoner.item3.image_url : "icons/matches/no_item.png", width: 30 %></li>
    <li><%= image_tag @match_summoner.item4 ? @match_summoner.item4.image_url : "icons/matches/no_item.png", width: 30 %></li>
    <li><%= image_tag @match_summoner.item5 ? @match_summoner.item5.image_url : "icons/matches/no_item.png", width: 30 %></li>
    <li><%= image_tag @match_summoner.item6 ? @match_summoner.item6.image_url : "icons/matches/no_item.png", width: 30 %></li>
  </ul>
  <ul class="kda-gold-lasthits list-unstyled clearfix pull-left">
    <li class="kills"><%= image_tag "icons/matches/score.png" %> <%= @match_stats.kills ? @match_stats.kills : "0" %></li> / 
    <li class="deaths"><%= @match_stats.deaths ? @match_stats.deaths : "0" %></li> / 
    <li class="assists"><%= @match_stats.assists ? @match_stats.assists : "0" %></li>
      <br />
    <li class="gold"><%= image_tag "icons/matches/gold.png" %> <%= number_to_human @match_stats.gold_earned %></li>
    <li class="lasthits"><%= image_tag "icons/matches/minion.png" %><%= @match_stats.minions_killed ? @match_stats.minions_killed : "0" %></li>
  </ul>
  <p class="view-more"><a href="#">VIEW DETAILS</a></p>
</div>