<div class="row follow-team">
  <div class="col-md-12">
    <div class="module clearfix">
      <%= link_to hide_follow_team_path, remote: true do %>
        <span class="close">&times;</span>
      <% end %>
      <h4>Follow The Team</h4>
      <div class="col-md-6">
        <% suggestions.first(3).each do |user| %>
          <%= render 'follow_team/user', user: user %> 
        <% end %>
      </div>
      <div class="col-md-6">
        <% suggestions.drop(3).first(3).each do |user| %>
          <%= render 'follow_team/user', user: user %> 
        <% end %>
      </div>
    </div>
  </div>
</div>