<div class="follow-team-user">
  <div class="follow-team-thumb">
    <%= link_to user do %>
      <img src="<%= user.profile.image? ? user.profile.image_url(:thumb_medium) : asset_path("small-user.png") %>" width="100" height="100">
    <% end %>        
  </div>
  <div class="follow-team-info-container">
    <div class="follow-team-info">
      <div class="follow-team-username">
        <%= link_to user.username, user %>
      </div>
      <div class="follow-team-fullname">
        <%= user.full_name %>
      </div>
      <div class="follow-team-location">
        <%= user.profile.location.present? ? user.profile.location.formatted_address : "Unknown Location" %>
      </div>
    </div>
    <div class="follow-team-actions">
    <% unless current_user == user %>
      <div data-followable-id="<%= user.slug %>">
        <% if current_user.following?(user) %>
          <%= render 'follows/unfollow', user: user %>
        <% else %>
          <%= render 'follows/follow', user: user %>
        <% end %>        
      </div>
      <% unless current_user == user %>
        <img src="<%= asset_path 'icons/icons_message.png' %>">
        <%= link_to "Message", new_message_path(user: user.slug), remote: true, data: {toggle: 'modal', target: "messageModal"} %>   
      <% end %>        
    <% end %>
    </div>
  </div>
  <%= render 'shared/modal', id: "message", partial: "messages/modal" %>  
</div>