<% @home_page = true %>
<% @footer_page = true %>

<div class="about">
  <div class="container">
    <div class="about-header">
      Request An Invite
    </div>
  </div>
  <div class="about-body">
    <div class="container">
      <div class="login-form">
        <%= form_for @invitation, html: {class: 'margin-top-20 form form-horizontal'} do |f| %>
        <% if @invitation.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2> 
            <ul>
              <% @invitation.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
          <div class="form-group">
            <div class="col-sm-6">
              <%= f.text_field :first_name, class: 'form-control input-lg', placeholder: 'First Name' %>
            </div>
            <div class="col-sm-6">
              <%= f.text_field :last_name, class: 'form-control input-lg', placeholder: 'Last Name' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.email_field :email, class: 'margin-top-20 form-control input-lg', placeholder: 'Email' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.text_field :username, class: 'margin-top-20 form-control input-lg', placeholder: 'Username' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <center><%= f.submit "Request Invite", class: 'btn btn-primary btn-lg margin-top-20' %></center>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>