<div class="modal-body rsvp-list scrollbar">
  <div class="rsvps">
    <% @rsvps.each do |rsvp| %>
      <%= render 'rsvps/user', rsvp: rsvp %> 
    <% end %>
  </div>
  <center><%= will_paginate @rsvps, params: { controller: "rsvps", action: "paginate"}, renderer: BootstrapPagination::Rails, param_name: "rsvps_pagination", class: "rsvps-pagination" if @rsvps.present? %></center>  
</div>