<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="rsvpLabel"><%= image_tag 'icons/events_nearby.png' %> RSVPS</h4>
</div>
<div class="modal-body-content">
  <div class="modal-body">
    <div class="ajax-loader medium"></div>
  </div>
</div>