<div class="rsvp-user clearfix">
  <%= link_to rsvp.user do %>
    <img src="<%= rsvp.user.profile.image? ? rsvp.user.profile.image_url(:thumb_small) : asset_path("small-user.png") %>" width="45" height="45" class="pull-left">
  <% end %>
  <div class="rsvp-name pull-left"><%= link_to rsvp.user.full_name, rsvp.user %> <span class="rsvp-username"><%= link_to "@#{rsvp.user.username}", rsvp.user %></span></div>
  <% unless current_user == rsvp.user %>
    <div class="rsvp-follow pull-right">
      <div data-followable-id="<%= rsvp.user.slug %>">
        <% if current_user.following?(rsvp.user) %>
          <%= render 'follows/unfollow', user: rsvp.user %>
        <% else %>
          <%= render 'follows/follow', user: rsvp.user %>
        <% end %> 
      </div>       
    </div>
  <% end %>  
</div> 