$('.rsvps').append('<% @rsvps.each do |rsvp| %><%= j render "rsvps/user", rsvp: rsvp %><% end %>');

<% if @rsvps.next_page %>
  $('.rsvp-list .pagination').replaceWith('<%= j will_paginate @rsvps, params: { controller: "rsvps", action: "paginate"}, renderer: BootstrapPagination::Rails, param_name: "rsvps_pagination", class: "rsvps-pagination" %>');
<% else %>
  $('.rsvp-list .pagination').remove();
<% end %>