if ($(".rsvp-button-form").length) {
  var rsvpable = $("div[data-event-id='<%= @rsvpable.id %>']");
  var rsvp_container = rsvpable.find(".rsvp-button");
  var rsvp_count = rsvpable.find(".event-list-guests");
  rsvp_container.html("<%= j render 'rsvps/events/button', event: @rsvpable, rsvp: @rsvp %>");
  rsvp_count.html("<%= j pluralize @rsvpable.goings_count, 'guest' %>");
} else {
  var buttons = $(".event-buttons");
  var event_count = $(".event-user-count");
  buttons.html("<%= j render 'rsvps/events/buttons' %>");
  event_count.html("<%= j render 'rsvps/events/count', event: @rsvpable %>");
}