<div class="about">
  <div class="container">
    <div class="about-header">
      About League Junkies
    </div>
  </div>
  <div class="about-body">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 margin-top-30 margin-bottom-30">
          <img class="pull-left" src="<%= asset_path 'about/akali_baron.jpg' %>">
          <div class="about-body-content pull-left">
            <p>League Junkies is your League of Legends Social Network, allowing summoners to find and connect with one another. At its core, League Junkies is a dedicated platform for League of Legends fans to share moments, thoughts, achievements, and other content focusing solely on what they want to focus on, League of Legends.</p>

            <p>Don't weed through the clutter of thousands of other game titles, focus on the one game title you want to focus on.</p>
            <div class="follow-us">FOLLOW US</div>
            <div class="follow-us-links">
              <a href="https://twitter.com/LeagueJunkies" target="_blank"><img src="<%= asset_path 'about/about_twitter.png' %>"></a>
              <a href="http://facebook.com/LeagueJunkies" target="_blank"><img src="<%= asset_path 'about/about_fb.png' %>"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-header">
    <div class="container">
      <div class="header">The Team</div>
    </div>
  </div>
  <div class="team-body">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-3 margin-top-40">
          <img src="<%= asset_path 'about/michal.png' %>" width="141">
          <div class="team-member-name">Michal Kucharz</div>
          <p class="about-team-member">
            Michal is Co-Founder of League Junkies, having been involved in the gaming industry for over 4 years. He was previously Director of League Operations for Turtle Entertainment's ESL America, running ESL competitions across North America.  
          </p> 
          <div class="team-member-socials">
            <a href="https://twitter.com/kuchcio/" target="_blank"><img src="<%= asset_path 'about/about_twitter.png' %>"></a>
            <a href="https://linkedin.com/pub/michal-kucharz/47/67a/62" target="_blank"><%= inline_svg "icons/svgs/linkedin.svg", class: "social-icon icon-yellow" %></a>
          </div>           
        </div>
        <div class="col-md-3 margin-top-40">
          <img src="<%= asset_path 'about/shashi.png' %>" width="141">
          <div class="team-member-name">Shashi Singh</div>
          <p class="about-team-member">
            Shashi is Co-Founder of League Junkies and has been involved in the gaming industry for ten years. He has worked with many top brands in the industry, and previously was eSports Manager for MOBAFire and eSports Director for Heroes of Newerth.
          </p>            
          <div class="team-member-socials">
            <a href="https://twitter.com/detonatR" target="_blank"><img src="<%= asset_path 'about/about_twitter.png' %>"></a>
            <a href="https://www.linkedin.com/in/detonatR" target="_blank"><%= inline_svg "icons/svgs/linkedin.svg", class: "social-icon icon-yellow" %></a>
          </div>            
        </div>
        <div class="col-md-3 margin-top-40">
          <img src="<%= asset_path 'about/fernando.png' %>" width="141">
          <div class="team-member-name">Fernando Martinez</div>
          <p class="about-team-member">
             Fernando is the man behind all League Junkies design with experience in branding identity, digital illustration, user experience, and product design. He has done work with many eSports organizations and is a designer and developer at Livestream.        
          </p>
          <div class="team-member-socials">
            <a href="http://twitter.com/StereoDVT" target="_blank"><img src="<%= asset_path 'about/about_twitter.png' %>"></a>
            <a href="https://linkedin.com/in/fernandojm" target="_blank"><%= inline_svg "icons/svgs/linkedin.svg", class: "social-icon icon-yellow" %></a>          
          </div>            
        </div>        
        <div class="col-md-3 margin-top-40">
          <img src="<%= asset_path 'about/rob.png' %>" width="141">
          <div class="team-member-name">Robert Wells</div>
          <p class="about-team-member">
            Rob is the community and marketing guy at League Junkies, having worked in and out of the gaming industry for the past 4 years with companies like MOBAFire and Velocity eSports. Rob also works as a marketing consultant at a major telecoms company.      
          </p>
          <div class="team-member-socials">
            <a href="https://twitter.com/WormyFlipper" target="_blank"><img src="<%= asset_path 'about/about_twitter.png' %>"></a>
            <a href="https://linkedin.com/in/robert-wells-4378a151" target="_blank"><%= inline_svg "icons/svgs/linkedin.svg", class: "social-icon icon-yellow" %></a>          
          </div>            
        </div>                    
      </div>
    </div>
  </div>
</div>