<div class="about">
  <div class="container">
    <div class="about-header"> 
      Privacy Policy
    </div>
  </div>
  <div class="about-body">
    <div class="container">
      <div class="row margin-top-30 margin-bottom-30">  
        <p>League Junkies collects information that are filled out by the users on the forms. Such data might contain, Name, email and other personal information. League Junkies is not allowed to disclose those personal information without your permission. However for some information that you disclose with us we might use in the context of providing the Service. Information that League Junkies collects is not sold or shared with other third parties. League Junkies reserves the right to disclose the information about you in order to investigate, prevent or take action regarding illegal activities, violations of out terms of service or otherwise as it is required by law.</p>
        <p><b>Disclosure</b></p>
        <p>League Junkies may disclose personal information to comply with court orders or when you violate our Terms of Service.</p>
        <p><b>How we use the Information</b></p>
        <p>We use the information about you in connection with the services and features we provide to you and other users such as your friends, followers partners and advertisers.  For example we might use your information to allow your follow friends and followers to see you and things that you share and post. In addition we might use the information to measure the effectiveness of ads and others see, including delivering ads that you want to see. You by agreeing to the Terms of Service and this Privacy Policy are granting League Junkies permission to use your information in such matter which allows League Junkies exist with the features we have. However all the information that you post and/or share are fully your property.</p>    
        <p><b>Cookies</b></p>
        <p>A cookie is a small data which may include an anonymous unique identifier. Cookies are sent to your browser from a website computers and stored on your computer’s hard drive. League Junkies uses a cookie to record session information. </p>
        <p><b>Changes to Privacy Policy</b></p>
        <p>League Junkies reserves the rights to change this Privacy Policy at any time. We may notify you about the changes to the policy via e-mail or other means so you will be aware of what changes were brought to the Terms of Service or Privacy Policy.</p>
      </div>
    </div>
  </div>


