<div class="container">
  <div class="col-md-3 col-padding">
    <%= render 'dashboard/sidebar' %>
  </div>
  <div class="col-md-6 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module search-results-for">
          <ul class="nav nav-pills">
            <li><%= link_to "Latest Updates", latest_updates_path %></li>
            <li><%= link_to "Notifications", notifications_path %></li>
            <li><%= link_to "Mentions", mentions_path %></li>
            <li><%= link_to "Your Activity", activities_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="posts">
      <% @mentions.each do |mention| %>
        <%= render "posts/#{mention.mentioner.type.underscore}", post: mention.mentioner %>
      <% end %>
    </div>
    <%= render 'shared/modal', id: "share", partial: "shares/modal" %>
    <center><%= will_paginate @mentions, renderer: BootstrapPagination::Rails, param_name: "main_pagination", class: "feed-pagination" if @mentions.present? %></center>
  </div>
  <div class="col-md-3 col-padding">
  </div>
</div>