<div class="container">
  <%= render 'users/header' %>
  <div class="col-md-12 col-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="module">
          <div class="user-media-header">
            <%= image_tag 'icons/icons_friends.png', class: "pull-left" %> <h4>Followers</h4>
          </div>
          <div class="user-media-nav">
          <%= link_to "Friends", user_friends_path(@user) %> | <%= link_to "Followers", user_followers_path(@user) %> | <%= link_to "Following", user_following_path(@user) %>
          </div>          
          <div class="user-media-container clearfix">
            <% @followers.each do |follower| %>
              <div class="user-photo pull-left">
                <%= link_to user_path(follower) do %>
                  <img src="<%= follower.profile.image? ? follower.profile.image_url(:thumb_large) : asset_path("small-user.png") %>" width="186" height="148">
                <% end %>
                <div class="user-friend-name"><%= link_to follower.full_name, user_path(follower) %></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>