var modal = $("#newPhotoModal");
var content = $("#newPhotoModal .modal-content");
var body = $("#newPhotoModal .modal-body-content");

body.html("<%= j render 'photos/form' %>");
modal.modal();

modal.on('hidden.bs.modal', function(e) {
  content.html("<%= j render 'photos/modal' %>");
});
