<% if post.user == current_user %>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= image_tag "icons/icons_3dots.png" %>
  </a>
  <ul class="dropdown-menu post-menu">
    <li><%= link_to "Delete Post", post_path(post), method: :delete, remote: true, data: {confirm: 'Are you sure you want to delete this?'} %></li>
  <ul>
<% end %>