<%= form_for @new_post, remote: true do |f| %>
  <%= f.text_area :body, class: 'form-control atwho enter-submit resize', rows: '1', placeholder: "What's new?", value: if user_show_page
              current_user != @user ? "@#{@user.username} " : ""
           else 
            ""  
           end
  %>
  <%= f.hidden_field :oembed_url %>
  <div class="pull-right">
    <%= f.submit "POST", class: 'btn btn-primary btn-sm' %>
  </div>                      
<% end %>