<div class="row">
  <div class="col-md-12">
    <div class="module <%= post.type.underscore.dasherize %>">
      <div class="post clearfix" data-post-id="<%= post.id %>">
        <% if !current_user.favorites?(post.id, post.class.base_class.to_s) %>
          <%= render 'favorites/favorite', object: post %>
        <% else %>
          <%= render 'favorites/unfavorite', object: post %>
        <% end %>
        <div class="match-message-content clearfix">
          <%= link_to post.user do %>
            <img src="<%= post.user.profile.image? ? post.user.profile.image_url(:thumb_small) : asset_path("small-user.png") %>" width="59" height="52" class="pull-left">
          <% end %>
          <div class="match-message-body">
            <span><%= link_to post.user.full_name, post.user %></span> just finished a match!
            <div class="match-message-date">
              <!-- Make Match Time -->
              <%= link_to local_time_ago(post.created_at), post_path(post) %>
            </div>
            <div class="match-message-link">
              <a href="#">View Match History</a>
            </div>                
          </div>                                       
        </div>
        <div class="post-footer clearfix">
          <div class="post-more dropdown pull-right">
            <%= render "posts/dropdown", post: post %>
          </div>               
          <div class="post-like like-button pull-right">
            <% if !current_user.likes?(post.id, post.class.base_class.to_s) %>
              <%= render 'likes/like', object: post, symbol: :likes %>
            <% else %>
              <%= render 'likes/unlike', object: post, symbol: :likes %>
            <% end %>
          </div>
          <div class="post-share pull-right">
            <% if !current_user.shares?(post.id, post.class.base_class.to_s) %>
              <%= render 'shares/share', object: post %>
            <% else %>
              <%= render 'shares/unshare', object: post %>
            <% end %>
          </div>          
        </div> 
        <div class="post-stats">
          <span class="likes-count">
            <%= render 'likes/likes_count', object: post %>
          </span>
          <span class="comments-count">
            <%= render 'comments/comments_count', object: post %>
          </span>
          <span class="shares-count">
            <%= render 'shares/shares_count', object: post %>
          </span>
        </div> 
        <div class="post-comment-input">
          <%= render 'comments/form', object: post %>
        </div> 
        <div class="post-comments">
          <% @comments = post.comments.page(params[:comments_page]).per_page(5) %>
          <% @comments.each do |comment| %>
            <%= render 'comments/comment', comment: comment %>
          <% end %>  
        </div>
        <div class="post-comments-pagination"><%= link_to "View More", post_comments_path(post, comments_page: @comments.next_page), class: "load-more-comments", remote: true if @comments.next_page %>  
        </div>                   
      </div>
    </div>
  </div>
</div>