<div class="container">
  <div class="col-md-3 col-padding">
    <%= render 'dashboard/sidebar' %>  
  </div>
  <div class="col-md-6 col-padding">
    <%= render "posts/#{@post.type.underscore}", post: @post %>
    <%= render 'shared/modal', id: "share", partial: "shares/modal" %>
  </div>
  <div class="col-md-3 col-padding">
    <%= render 'dashboard/riot_news' %>
  </div>
</div>