commented on <%= link_to activity.recipient.full_name, activity.recipient %>'s <%= link_to activity.trackable.commentable.class.base_class.to_s.underscore, activity.trackable.commentable.class < Post ? activity.trackable.commentable.becomes(Post) : activity.trackable.commentable %>.