<% @home_page = true %>
<% @footer_page = true %>

<div class="about">
  <div class="container">
    <div class="about-header">
      Set Your Password
    </div>
  </div>
  <div class="about-body">
    <div class="container">
      <div class="login-form">
        <%= form_for(resource, as: resource_name, url: confirm_path, html: {class: 'margin-top-20 form form-horizontal'}) do |f| %>
        <%= devise_error_messages! %>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.password_field :password, autocomplete: 'off', class: 'margin-top-20 form-control input-lg', placeholder: 'Password' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'margin-top-20 form-control input-lg', placeholder: 'Confirm Password' %>
            </div>
          </div>
          <%= f.hidden_field :confirmation_token, value: @original_token %>
          <div class="form-group">
            <div class="col-sm-12">
              <center><%= f.submit "Sign Up", class: 'btn btn-primary btn-lg margin-top-20' %></center>
            </div>
          </div>
        <% end %>
        <div class="margin-bottom-20"><center><%= render "devise/shared/links" %></center></div>
      </div>
    </div>
  </div>
</div>