.about .about-header {
  text-align:center;
  font-size:42px;
  font-weight:bold;
  text-transform: uppercase;
  margin-top:40px;
  margin-bottom:20px;
}

.about .about-body {
  font-size:14px;
  font-weight:normal;
  background-color:#242424;
}

.about .about-body .about-body-content {
  margin-top:35px;
  margin-left:30px;
  width:55%;
}

.about .about-body .follow-us {
  color:#fac800;
  font-weight:bold;
  margin-top:30px;
}

.about .about-body .follow-us-links img {
  margin-top:10px;
}

.about .about-body .follow-us-links img:first-child {
  margin-right:5px;
}

.about .team-header {
  font-size:42px;
  text-transform: uppercase;
  text-align:center;
  font-weight:bold;
  background: url(<%= asset_path "about/team_header_bg.png" %>) center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;  
}

.about .team-header .header {
  margin:40px 0 40px 0;
}

.about .team-body {
  background: url(<%= asset_path "about/team_body_bg.png" %>) center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  text-align:center;
  padding-bottom:80px;
}

.about .team-body .team-member-name {
  font-size:14px;
  font-weight:bold;
  color:#fac800;
  margin:10px 0px 10px 0px;
}

.about .team-body .about-team-member {
  font-size:12px;  
}

.about .team-member-socials {
  margin-top:15px;
}

.about .team-member-socials img:first-child {
  margin-right:5px;
}