.left-inner-addon {
    position: relative;
    color:#000;
}
.left-inner-addon input {
    padding-left: 35px;    
    font-size:16px;
    font-weight:300;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.conversations-list .filter {
  margin-bottom:10px;
}

.conversations .conversation:first-child {
  margin:0;
}

.conversations .conversation .conversation-name {
  font-size:14px;
}

.conversations .conversation .conversation-preview {
  font-size:10px;
  color:#fff;
}

.conversations .unread .conversation-name {
  font-weight:bold;
  color:#fac800;
}

.conversations .read {
  color:#858584;
}

.conversations .conversation {
  background-color:#2b2b2b;
  border:0;
  border-radius:0;
}

.conversations .list-group a:hover, .conversations .list-group a:focus {
  background-color:#fac800;
  color:#000!important;
}

.list-group-item.conversation {
  padding:10px 10px;
}

.messages {
  margin:30px 60px;
}

.messages .message {
  border-bottom:1px solid #947b16;
  padding:15px 0;
}

.messages .message:first-child {
  padding-top:0;
}

.message .message-avatar {
  display:table-cell;
  vertical-align: top;
  padding-right:15px;
}

.message .message-body {
  display:table-cell;
  vertical-align:top;
  font-size:12px;
}

.message .message-date {
  color:#989898;
  font-weight:300;
  font-size:10px;
}

.message-input {
  margin:10px 60px;
}

.message-input .form-group .input-group-addon {
  padding: 0;
  background-color: transparent;
  border: 0;
  padding-right: 10px;
}

.message-input input[type="submit"] {
  margin-top:15px;
}

.new-message {
  clear:both;
}

.message-form-subject {
  margin-bottom:10px;
}

.message-input .form-group .input-group textarea {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.messages-menu {
  width: 300px;
}

.messages-menu li {
  padding: 10px;
  padding-bottom: 20px;
  width: 100%;
  cursor: pointer;
}

.messages-menu p {
  padding: 0 10px;
  padding-left: 25px;
}

.messages-menu span {
  margin-left: 10px;
}

.messages-menu a:hover {
  text-decoration:none;
}

.messages-menu li:hover {
  background-color:#2f2f2f;
}

.messages-dropdown-container {
  max-height:320px;
  overflow:hidden;
}

.messages-dropdown-container:hover {
  overflow-y:auto!important;
}