.popular-event {
  margin-bottom:10px;
  border-bottom: 1px solid #565656;
}

.popular-event:last-child {
  margin-bottom:0;
  border:0;
}

.popular-event-title {
  font-size:14px;
  font-weight:bold;
}

.popular-event-date {
  font-size: 10px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #989898;
}

.popular-event-description {
  font-size:12px;
}

.location-options ul li {
  font-weight:bold;
  text-transform:uppercase;
  font-size:12px;
  margin-bottom:10px;
}

.location-options ul li:last-child {
  margin-bottom:0;
}

.event-list-name {
  font-weight:bold;
  font-size:18px;
  color:#fac800;
}

.event-list-guests {
  color:#989898;
}

.event-list-place a {
  color:white;
}

.event-list-rsvp {
  margin-top:10px;
}

.event-button {
  font-weight:bold;
  color:black!important;
}

#eventModal .modal-dialog .modal-content .modal-body-content .modal-footer {
  text-align:center;
}

.summoners-nearby-icon {
  margin-right:10px;
}

.posts-nearby-icon {
  margin-right:10px;
}

.events-nearby-icon {
  margin-right:11px;
}

.create-event-icon {
  margin-right:9px;
}

.start-date-select {
  padding:0;
  margin-right:20px;
}

.start-time-select {
  padding:0;
}

.end-date-select {
  padding:0;
  margin-right:20px;
}

.end-time-select {
  padding:0;
}

.end-time-remove {
  margin-top:32px;
}

.end-time-add {
  margin-top:32px;
}

.end-time-add:hover, .end-time-remove:hover {
  color:#737373;
}

.end-time-fields {
  display:none;
}

.start-time-select .input-group-addon, .end-time-select .input-group-addon, .start-date-select .input-group-addon, .end-date-select .input-group-addon {
  color:#333333;
  background-color:#FFFFFF;
}

.pac-container {
  z-index: 1050!important;
}

#event_start_date[readonly], #event_end_date[readonly] {
  background:#FFFFFF;
}

.event-header {
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.event-header .event-header-title {
  font-weight:bold;
  color:#fac800;
  font-size:32px;
  margin-bottom:0;
}

.event-hosted-by {
  margin-bottom:10px;
}

.event-hosted-by .event-hosted-username a {
  color:#989898;
  font-weight:300;
  font-size:12px;
}

.event-description {
  margin-bottom:10px;
}

.event-buttons {
  margin-top:5px;
}

.event-buttons .btn {
  color:black;
  width:120px!important;
  font-weight:bold;
  display:block;
  margin-bottom:5px;
  text-transform: uppercase;
}

.event-user-count {
  display:table;
  margin:0 auto;
}

.event-user-count d1 {
  border-right:1px solid #565656;
  margin-right:0!important;
}

.event-user-count .event-going {
  padding-right:20px;
}

.event-user-count .event-maybe {
  padding-left:20px;
  padding-right:20px;
}

.event-user-count .event-decline {
  padding-left:20px;
  border:0;
}

.event-user-count dt {
  font-weight:bold;
  text-align:center;
  font-size:23px;
  color:#fac800;
}

.event-user-count dd {
  text-transform:uppercase;
  font-weight:bold;
}

.event-info .place-name {
  font-weight:bold;
  color:#fac800;
  margin-top:5px;
}

.event-info .place-formatted-address{
  margin-bottom:10px; 
}

.event-directions .btn {
  color:black;
  font-weight:bold;
  margin-top:10px;
}

.event-page-nearby-event {
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom: 1px solid #565656;
}

.event-page-nearby-event:last-child {
  border:0;
  padding-bottom:0;
}

.event-page-nearby-event-title {
  font-weight:bold;
  color:#fac800;
}

.event-page-nearby-event-place a {
  color:white;
}

.event-more-events {
  border-bottom:1px solid #565656;
  padding-bottom:10px;
  margin-bottom:10px;
}

.event-more-events:last-child {
  border:0;
  padding-bottom:0;
}

.event-more-events d1 {
  text-align:center;
  font-weight:bold;
  margin:20px!important;
  text-transform:uppercase;
}

.event-more-events dd {
  font-size:23px;
}

.more-event-title {
  color:#fac800;
}

.more-event-place a {
  color:white;
}

.event-banner {
  position:relative;
}

.event-banner-edit {
  position:absolute;
  top:10px;
  left:10px;
  opacity:0.5;
}

.event-banner-edit:hover {
  opacity:1;
}

.event-banner-menu {
  text-align:center;
}

.banner-form form {
  display:none;
}

.event-banner-menu li label {
  margin: 0;
  cursor: pointer;
  font-weight: normal;  
}

.banner-ajax-container {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display:none;
}

.event-delete-link {
  color:#737373;
}

.event-delete-link:hover {
  color:#737373;
  text-decoration:underline;
}

.search-results-for .nav-pills li {
  border-right:1px solid #565656;
}

.search-results-for .nav-pills li:last-child {
  border:0;
}

.search-results-for .nav-pills > li > a:focus, .search-results-for .nav-pills > li > a:hover {
  color: black;
  background-color: #fac800;
}