.user-box {
  margin:5px;
}

.user-box-name {
  font-weight:bold;
}

.user-box-stats d1 {
  margin-top:10px;
}

.user-box-stats dt {
  font-size:10px;
  text-transform:uppercase;
}

.user-box-stats dd {
  font-weight:bold;
  text-align:center;
  font-size:18px;
}

.user-box-stats a {
  color:#FFFFFF;
}

.user-box-profile-link {
  margin-top:5px;
  font-size:14px;
}

.user-box-stats img {
  margin-top:10px;
}

.user-box-summoner .summoner-level {
  color:#fac800;
  margin-left:10px;
}

.latest-update {
  margin-bottom:10px;
  border-bottom: 1px solid #565656;
}

.latest-update:last-child {
  margin-bottom:0;
  border:0;
}

.latest-update .update-body {
  font-size:12px;
}

.latest-update img {
  margin-top:5px;
}

.latest-update .update-date {
  font-size:10px;
  font-weight:300;
  margin-top:10px;
  margin-bottom:5px;
  color:#989898;
}

.news-box {
  margin: 15px 0 25px 0;
}

.news-box .news-headline {
  color:#fac800;
  font-size:18px;
  font-weight:bold;
  margin:10px 0;
}

.news-box .news-body {
  font-size:12px;
  margin-bottom:20px;
}

.news-box .news-domain, .news-box .news-domain a {
  font-size:12px;
  font-weight:300;
  color:#989898;
}

.news-box .news-link a {
  font-weight:300;
  font-size:12px;
  color:#fac800;
  text-transform: uppercase;
}

.suggested-friend .suggested-thumb {
  display:table-cell;
  vertical-align:top;
  padding-right:10px;
}

.suggested-friend .suggested-name {
  font-size:12px;
  display:table-cell;
  vertical-align:top;
}

.suggested-friend {
  margin-bottom:15px;
}

.suggested-friends .col-md-6 .suggested-friend:last-child {
  margin-bottom:4px;
}

.manage-invite-button {
  padding-top:10px;
}

.invite-modal-button.btn {
  color:#000;
  font-weight:700;
  width:100%;
  text-transform:uppercase;
}

#inviteModal .modal-body {
  font-size:14px;
  font-weight:bold;
}

#inviteModal .modal-body input[type="text"] {
  margin-top:20px;
  margin-bottom:20px;
  font-weight:normal;
}

#inviteModal .btn {
  font-weight:bold;
  color:#000;
  text-transform: uppercase;
}

.verify-notice {
  background-image:url('<%= asset_path "posts/verify_notice.png" %>');
  text-align:center;
  font-weight:bold;
  font-size:18px; 
}

.verify-notice-body {
  border-bottom:1px solid #534715;
  padding-bottom:5px;
  margin-bottom:10px;
}

.verify-notice-button.btn {
  color:#000;
  font-weight:700;
  text-transform:uppercase;
  margin-bottom:10px;
}

.sidebar-footer {
  color:#929292;
  font-size:12px;
}

.sidebar-footer a {
  padding-right:8px;
  color:#929292
}

.trending-topics .trending-topic {
  margin-bottom:10px;
  border-bottom: 1px solid #565656;
}

.trending-topics .trending-topic:last-child {
  margin-bottom:0;
  border:0;
  padding-bottom:0;
}

.trending-topics .trending-topic .trending-hashtag a {
  font-size:14px;
}

.trending-topics .trending-topic .trending-posts-count a {
  font-size:14px;
  color:#989898;
}

.trending-topics .trending-topic .trending-posts-count a:hover {
  text-decoration:none;
}

.trending-topics .trending-topic .trending-date {
  font-size: 10px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #989898;
}