.follow-team-user {
  margin-bottom:10px;
}

.col-md-6 .follow-team-user:last-child {
  margin-bottom:0;
}

.follow-team-info .follow-team-username {
  font-weight:bold;
  color:#fac800;
}

.follow-team-actions {
  color:#fac800;
  font-weight:bold;
  text-transform: uppercase;
  font-size:12px;
}

.follow-team-actions img {
  margin-right:5px;
}

.follow-team-info-container {
  display:table-cell;
  vertical-align:top;
}

.follow-team-thumb {
  display:table-cell;
  vertical-align:top;
  padding-right:10px;
}