.index-register-header {
  text-align:center;
  font-size:24px;
  font-weight:bold;
}

.index-header {
  height: 183px;
  width: 578px;
}

.index-register-form {
  max-width:400px;
  margin: 0 auto;
}

.index-three-points {
  max-width:400px;
  margin: 0 auto;
}

.bullet-point {
  overflow:hidden;
  margin-bottom:50px;
}

.bullet-point:last-child {
  margin-bottom:0;
}

.bullet-text {
  font-size:19px;
  overflow:hidden;
  margin-left:160px;
  padding-top:20px;
}

.login-form {
  margin:0 auto;
  max-width: 300px;
}