body {
  padding-top:65px;
}

.margin-top-5 {
  margin-top:5px;
}

.margin-top-10 {
  margin-top:10px;
}

.margin-top-20 {
  margin-top:20px;
}

.margin-top-30 {
  margin-top:30px;
}

.margin-top-40 {
  margin-top:40px;
}

.margin-top-60 {
  margin-top:60px;
}

.margin-bottom-10 {
  margin-bottom:10px;
}

.margin-bottom-20 {
  margin-bottom:20px;
}

.margin-bottom-30 {
  margin-bottom:30px;
}

.margin-bottom-60 {
  margin-bottom:60px;
}

.margin-bottom-80 {
  margin-bottom:80px;
}

.margin-bottom-140 {
  margin-bottom:140px;
}

.no-header-margin-top {
  margin-top:0;
}
