<a href="#">
  <label for="event_image">Upload Photo</label>
  <%= form_for @event, url: event_update_image_path(@event), html: {multipart: true}, remote: true do |f| %>
    <%= f.file_field :image, accept: 'image/png,image/tiff,image/jpeg, image/jpg' %>
  <% end %>
</a>