<%= form_for @event, remote: true do |f| %>
  <div class="modal-body">
    <div class="event-errors"></div>
    <div class="form-group">
      <%= link_to "Delete Event", event_path(@event), method: :delete, class: "pull-right event-delete-link", data: {confirm: 'Are you sure you want to delete this?'} %>
      <%= f.label :name, "Event Name" %>
      <%= f.text_field :name, class: "form-control", placeholder: "ex: League Junkies Meetup!" %>
    </div>
    <div class="form-group">
      <%= f.label :description, "Details" %>
      <%= f.text_area :description, class: "form-control resize", placeholder: "Describe your event." %>
    </div>
    <div class="form-group">
      <%= label_tag :place_select, "Where" %>
      <%= text_field_tag :place_select, @event.place ? @event.place.name : nil, class: "form-control", placeholder: "Include a place for this event.", onFocus: "geolocate()" %>
    </div>
    <div class="form-group clearfix">
      <div class="col-sm-3 start-date-select">
        <%= f.label :start_date, "Start" %>
        <div class="input-group">
          <%= f.text_field :start_date, value: @event.start ? @event.start.strftime("%m/%d/%Y") : "", class: "form-control", readonly: true %>
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
          </span>
        </div>
      </div>
      <div class="col-sm-3 start-time-select">
        <%= f.label :start_time, "Time" %>
        <div class="input-group">
          <%= f.text_field :start_time, value: @event.start ? @event.start.strftime("%l:%M %p") : "", class: "form-control" %>
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-time"></i>
          </span>
        </div>
      </div>
      <a href="#" class="end-time-add pull-right help-block">+ End Time</a> 
    </div>
    <div class="end-time-fields form-group clearfix">
      <div class="col-sm-3 start-date-select">
        <%= f.label :end_date, "End" %>
        <div class="input-group">
          <%= f.text_field :end_date, value: @event.end ? @event.end.strftime("%m/%d/%Y") : "", class: "form-control", readonly: true %>
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
          </span>
        </div>
      </div>
      <div class="col-sm-3 start-time-select">
        <%= f.label :end_time, "Time" %>
        <div class="input-group">
          <%= f.text_field :end_time, value: @event.end ? @event.end.strftime("%l:%M %p") : "", class: "form-control" %>
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-time"></i>
          </span>
        </div>
      </div>
      <a href="#" class="end-time-remove pull-right help-block">Remove</a>
    </div>    
  </div>
  </div>
  <div class="modal-footer">
    <%= hidden_field_tag 'place_id', @event.place ? @event.place.google_place_id : nil %>

    <%= f.submit "UPDATE EVENT", class: 'btn btn-primary event-button' %>
  </div> 
<% end %>