<%= form_for [event, rsvp], remote: true, html: {class: "rsvp-form rsvp-button-form"} do |f|  %>
  <div class="btn-group" data-toggle="buttons">
    <%= f.label :status, class: "btn btn-primary event-button#{" active" if rsvp.status}" do %>
      <%= f.radio_button :status, rsvp.status ? rsvp.status : "yes" %>
      <%= rsvp.status ? rsvp_status(rsvp.status).upcase : "RSVP" %>
    <% end %>
    <a href="#" class="btn btn-primary dropdown-toggle event-button" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
    <ul class="dropdown-menu user-menu rsvp-menu">
      <% Rsvp::STATUSES.each do |status| %>
        <% unless rsvp.status == status %>
          <li><a href="#" data-value="<%= status %>"><%= rsvp_status(status) %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>