<d1 class="pull-left event-going">
  <dt><%= link_to event.goings_count, event_rsvps_path(event, status: "yes" ), remote: true, data: {toggle: 'modal', target: 'rsvpModal'} %></dt>
  <dd>Going</dd>
</d1>
<d1 class="pull-left event-maybe">
  <dt><%= link_to event.maybes_count, event_rsvps_path(event, status: "maybe"), remote: true, data: {toggle: 'modal', target: 'rsvpModal'} %></dt>
  <dd>Maybe</dd>
</d1>
<d1 class="pull-left event-decline">
  <dt><%= link_to event.declines_count, event_rsvps_path(event, status: "no"), remote: true, data: {toggle: 'modal', target: 'rsvpModal'} %></dt>
  <dd>Decline</dd>
</d1>   

<%= render 'shared/modal', id: "rsvp", partial: "rsvps/modal" %>    