<div class="modal-body">
  <div class="invite-errors"></div>
  <center>
    <p>You have <span class="invite-count yellow"><%= render 'users/invitations/count', count: @invite_count %></span> to League Junkies. Invite your friends!</p>
    <%= form_for User.new, as: :user, url: invitation_path(:user), remote: true do %>
      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter an email address to invite" %>
      <%= submit_tag "Send invite", class: "btn btn-primary btn-lg" %>
    <% end %>
  </center>
</div>