var alert_container = $(".invite-errors");
var counter = $(".invite-count");
var email_text_field = $("#email"); 


<% if @invite.errors.any? %>
  alert_container.html("<div class='alert alert-danger'><% @invite.errors.full_messages.each do |msg| %><%= msg %><% end %></div>")
<% else %>
  counter.html("<%= j render 'users/invitations/count', count: @invite_count %>");
  alert_container.html("<div class='alert alert-success'>You've successfully invited <%= @invite.email %>!</div>");
  email_text_field.val('');
<% end %>