var modal = $("#inviteModal");
var content = $("#inviteModal .modal-content");
var body = $("#inviteModal .modal-body-content");

body.html("<%= j render 'users/invitations/form' %>");
modal.modal();

modal.on('hidden.bs.modal', function(e) {
  content.html("<%= j render 'users/invitations/modal' %>");
});
