<div class="footer navbar-fixed-bottom">
  <div class="container">
    <div class="row links">
      <div class="col-md-8 col-md-offset-2">
        <ul class="list-inline pull-left">
          <li><%= link_to "Blog", "http://blog.leaguejunkies.com", target: "_blank" %></li>        
          <li><%= link_to "About League Junkies", about_path %></li>
          <li><%= link_to "Contact Us", contact_path %></li>
          <li><%= link_to "Privacy Policy", privacy_path %></li>
          <li><%= link_to "Terms", tos_path %></li>
        </ul>
        <div class="company pull-right">
          AoE Interactive © 2015
          <a href="http://twitter.com/LeagueJunkies" target="_blank"><%= image_tag 'icons/footer_twitter.png' %></a>
          <a href="http://facebook.com/LeagueJunkies" target="_blank"><%= image_tag 'icons/footer_fb.png' %></a>
        </div>
      </div>
    </div>
    <div class="row disclaimer">
      <div class="col-md-8 col-md-offset-2">
        League Junkies isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
      </div>
    </div>
  </div>
</div>