<%= display_meta_tags site: 'League Junkies - Your League of Legends Social Network', 
                      keywords: Metatags::KEYWORDS,
                      description: "Connect with summoners from around the world. Share moments, thoughts, achievements, and more from the Fields of Justice with other League of Legends fans.",
                      og: {
                        site_name: "League Junkies - Your League of Legends Social Network",
                        image: "http://static.leaguejunkies.com/images/meta_image.png"
                      },
                      twitter: {site: "@LeagueJunkies"},
                      fb: {admins: "1360020058"} %>