<% if user_signed_in? %>
<div class="col-sm-3 col-md-5 col-lg-6">
  <%= form_tag search_path, class: "navbar-form search nav navbar-nav", method: :get do %>
    <div class="input-group">
      <%= text_field_tag :q, params[:q], class: "form-control nav-search-input", placeholder: "Search for summoners and topics on League Junkies", autocomplete: "off" %>
      <div class="input-group-btn">
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
      </div>          
    </div>
  <% end %>
</div>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/"><%= image_tag 'icons/icons_home.png' %></a></li>
    <li>
      <%= link_to nearby_events_path do %>
        <%= image_tag 'icons/icons_location_hub.png', width: 28 %>
      <% end %>
    </li>
    <li class="notification-dropdown dropdown">
      <a href="#" class="dropdown-toggle notification-toggle" data-toggle="dropdown">
        <%= render "notifications/icon" %>
      </a>
      <ul class="dropdown-menu notification-menu">
      <div class="ajax-loader medium"></div>
      </ul>
    </li>
    <li class="messages-dropdown dropdown">
      <a href="#" class="dropdown-toggle messages-toggle" data-toggle="dropdown">
        <%= render "conversations/icon" %>       
      </a>
      <ul class="dropdown-menu messages-menu">
        <div class="ajax-loader medium"></div>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle nav-account" data-toggle="dropdown">
        <img src="<%= current_user.profile.image? ? current_user.profile.image_url(:thumb_small) : asset_path('small-user.png') %>" width="29" class="nav-avatar">
        <%= current_user.full_name %>
      </a>
      <ul class="dropdown-menu user-menu">
        <li><%= link_to "My Profile", user_path(current_user) %></li>
        <li><%= link_to "Messages", messages_path %></li>
        <li><%= link_to "My Events", rsvps_events_path %></li>
        <li><%= link_to "Mentions", mentions_path %></li>
        <li><%= link_to "Settings", edit_user_registration_path %></li>
        <li><%= link_to "Activity Log", activities_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      </ul>
    </li>
  </ul>
<% else %>
  <%= form_for(:user, url: session_path(:user), html: {class: 'navbar-form login navbar-right'}) do |f| %>
    <div class="row">
      <div class="form-group">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
      </div> 
      <div class="form-group">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
      </div>
      <%= f.submit "Login", class: 'btn btn-primary' %>
    </div>
    <div class="login-options row">
      <%=  f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <%= link_to "Forgot Password?", new_user_password_path %>
    </div>
  <% end %>
<% end %>