<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/meta_tags' %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700italic,300,700,500' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= @home_page ? "home" : "" %> <%= @footer_page ? "footer_page" : "" %>">
    <%= render 'layouts/navigation' %>
    <div class="container">
      <%= render 'layouts/alerts' %>
    </div>
    <%= yield %>
    <%= render 'layouts/footer' if @footer_page %>
    <%= google_analytics_js %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
